<p>Django requires a trailing slash.  So this URL:</p>

<pre><code>url(r'^download/(?P&lt;hash&gt;[\w]+/$)', views.file_download, name="fileDownloadPage"),
</code></pre>

<p>Should be:</p>

<pre><code>url(r'^download/(?P&lt;hash&gt;\w+)/$', views.file_download, name="fileDownloadPage"),
</code></pre>

<p>Also, there may be an issue with the <code>href</code>.  It should change from:</p>

<pre><code>&lt;a href="{% url 'fileDownloadPage' entry.2 %}{{ entry.2 }}"&gt;
</code></pre>

<p>To:</p>

<pre><code>&lt;a href="{% url 'fileDownloadPage' entry.2 %}"&gt;{{ entry.2 }}&lt;/a&gt;
</code></pre>
