<p>Fixed. For anyone in future, this is the corrected code:</p>

<p><div class="snippet" data-lang="js" data-hide="false">
<div class="snippet-code">
<pre class="snippet-code-html lang-html prettyprint-override"><code>&lt;form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm"&gt;
                &lt;p class="line-item-property__field"&gt;
  &lt;label&gt;Griptape?&lt;/label&gt;&lt;br&gt;
  &lt;input required class="required" type="radio" name="properties[Griptape?]" value="Grip it for me"&gt; &lt;span&gt;Grip it for me&lt;/span&gt;&lt;br&gt;
  &lt;input required class="required" type="radio" name="properties[Griptape?]" value="Just send the grip"&gt; &lt;span&gt;Just send the grip&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;

            &lt;select name="id" id="productSelect" class="product-single__variants"&gt;
              {% for variant in product.variants %}
                {% if variant.available %}

                  &lt;option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}"&gt;{{ variant.title }} - {{ variant.price | money_with_currency }}&lt;/option&gt;

                {% else %}
                  &lt;option disabled="disabled"&gt;
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  &lt;/option&gt;
                {% endif %}
              {% endfor %}
            &lt;/select&gt;

            &lt;div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}"&gt;
              &lt;label for="Quantity"&gt;{{ 'products.product.quantity' | t }}&lt;/label&gt;
              &lt;input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector"&gt;
            &lt;/div&gt;

            &lt;button type="submit" name="add" id="AddToCart" class="btn"&gt;
              &lt;span id="AddToCartText"&gt;{{ 'products.product.add_to_cart' | t }}&lt;/span&gt;
            &lt;/button&gt;
          &lt;/form&gt;</code></pre>
</div>
</div>
</p>
