<p>I would recommend writing your own template tag for this problem. Put the following (from <a href="http://stackoverflow.com/a/29664945/3672986">this SO question</a>) in a template called index which should be saved in <code>templatetags/index.py</code>:</p>

<pre><code>from django import template
register = template.Library()

@register.filter
def index(List, i):
    return List[int(i)]
</code></pre>

<p>Now, loading this and using it should be as simple as:</p>

<pre><code>{% load index %}
{% for value in animal %}
  animal:{{ value }}  \ how meny {{ how_meny|index:forloop.counter0 }}
{% endfor %}
</code></pre>
