<p>Your fiddle has a bunch of errors (you need to set <code>"no wrap - in &lt;head&gt;"</code> for Angular to work.) Also, you have <code>$</code> variable that is <code>undefined</code> - did you mean to include <code>jQuery</code>? You don't have to, for your simple example, and just define it as:</p>

<pre><code>var $ = angular.element; // jqLite
</code></pre>

<p>Here's your working forked <a href="http://jsfiddle.net/2df9bvxa/" rel="nofollow">fiddle</a>.</p>

<p>But you actually don't need any of this. You can just use the built-in <code>ng-class</code> directive:</p>

<pre><code>&lt;button class="btn btn-default" ng-class="{'btn-success': active}"
        ng-click="active = !active"&gt;Toggle&lt;/button&gt;
</code></pre>

<p><strong>EDIT</strong>:</p>

<p>If you need to change the contents of the button, you can re-use the <code>active</code> variable to toggle the displayed content:</p>

<pre><code>&lt;button class="btn btn-default" ng-class="{'btn-success': active}"
        ng-click="active = !active"&gt;

  &lt;i    ng-hide="active" class="fa fa-cloud-upload text"&gt;&lt;/i&gt;
  &lt;span ng-hide="active" class="text"&gt;Upload&lt;/span&gt;

  &lt;i    ng-show="active" class="fa fa-check text-active"&gt;&lt;/i&gt;
  &lt;span ng-show="active" class="text-active"&gt;Success&lt;/span&gt;

&lt;/button&gt;
</code></pre>

<p><a href="http://jsfiddle.net/5ne2poq2/" rel="nofollow">fiddle</a></p>
